```gitignore
# Dependencies
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.ENV.local
.env
.env.local
.env.*
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/modules/
*.sublime-workspace
.pytest_cache/
.hypothesis/
.coverage*
htmlcov/
.installed.cfg
.lib/
.eggs/
eggs/
parts/
var/
sdist/
develop-eggs/
bin/
lib/
lib64/
share/python-wheels/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.DS_Store
Thumbs.db
```